services:
  backend:
    build: ./backend
    container_name: quiklook_backend
    ports:
      - "8000:8000"
      - "5678:5678"
    volumes:
      - ./backend/app:/app/app
    environment:
      - APP_ENV=development
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    networks:
      - quicklook_net

  frontend:
    build: ./frontend
    container_name: quiklook_frontend
    ports:
      - "3000:80"
    networks:
      - quicklook_net

  vector_db:
    image: chromadb/chroma:latest
    container_name: quicklook_db
    ports:
      - "8001:8000" 
    volumes:
      - ./data:/chroma/chroma  # Persist data
    networks:
      - quicklook_net

networks:
  quicklook_net:
    driver: bridge