[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch_cpu"
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true

[packages]
fastapi = {extras = ["standard"], version = "*"}
uvicorn = "*"
langchain = "*"
langchain-google-genai = "*"
langchain-community = "*"
langchain-text-splitters = "*"
langchain-huggingface = "*"
chromadb = "*"
pypdf = "*"
sentence-transformers =">=2.6.0"
huggingface-hub = ">=0.20.0"
torch = {version = "*", index = "pytorch_cpu"}
torchvision = {version = "*", index = "pytorch_cpu"}
debugpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
